
.container{
    display: flex;
    justify-content: center
    font size; 100px;
    bold; 100px;
}

.g1{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 450px;
}
.g2{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 450px;
}
.g3{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 450px;
}
